h1 {
font-family:Verdana, Geneva, Tahoma, sans-serif;
color:rgb(96, 52, 21);
}

body{
    background-color:gray;
}

h2{
    color:rgb(133, 75, 48);
}

canvas{
    background-image:url("bgart.png");
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
}